<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="logs/app.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5KB</maxFileSize>
            <totalSizeCap>20KB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!-- Define EMAIL appender if used in your logger configuration -->
    <!-- <appender name="EMAIL" class="..."> ... </appender> -->

    <logger name="com.example.signin" level="error" additivity="false">
        <!-- Uncomment the next line if EMAIL appender is defined -->
        <!-- <appender-ref ref="EMAIL"/> -->
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

    <logger name="com.example.signin" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Uncomment the next line if CONSOLE appender is defined -->
    <!-- <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root> -->
</configuration>
